<?xml version="1.0"?>
<!-- vim: set ts=4 sw=4 sts=4 et: -->
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @author     Qualiteam Software <info@x-cart.com>
 * @category   Cdev
 * @package    Cdev_XPaymentsConnector
 * @copyright  (c) 2010-present Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Cdev_XPaymentsConnector>
            <version>1.8.1</version>
        </Cdev_XPaymentsConnector>
    </modules>
    <global>
        <models>
            <salesrule_resource>
                <rewrite>     
                    <coupon_usage>Cdev_XPaymentsConnector_Model_Mysql4_Coupon_Usage</coupon_usage>
                </rewrite>
            </salesrule_resource>
            <sales>
                <rewrite>
                    <recurring_profile>Cdev_XPaymentsConnector_Model_Sales_Recurring_Profile</recurring_profile>
                    <quote_address_total_nominal>Cdev_XPaymentsConnector_Model_Quote_Address_Total_Nominal</quote_address_total_nominal>
                </rewrite>
            </sales>
            <payment>
                <rewrite>
                    <recurring_profile>Cdev_XPaymentsConnector_Model_Payment_Recurring_Profile</recurring_profile>
                </rewrite>
            </payment>
            <xpaymentsconnector>
                <class>Cdev_XPaymentsConnector_Model</class>
                <resourceModel>xpaymentsconnector_mysql4</resourceModel>
            </xpaymentsconnector>
            <xpaymentsconnector_mysql4>
                <class>Cdev_XPaymentsConnector_Model_Mysql4</class>
                <entities>
                    <paymentconfiguration>
                        <table>xpayment_configurations</table>
                    </paymentconfiguration>
                    <usercards>
                        <table>xpayment_user_cards</table>
                    </usercards>
                    <quote_xpcdata>
                        <table>xpayment_quote_xpcdata</table>
                    </quote_xpcdata>
                    <fraudcheckdata>
                        <table>xpayment_fraud_check_data</table>
                    </fraudcheckdata>
                </entities>
            </xpaymentsconnector_mysql4>
        </models>
        <helpers>
            <xpaymentsconnector>
                <class>Cdev_XPaymentsConnector_Helper</class>
            </xpaymentsconnector>
            <settings_xpc>
                <class>Cdev_XPaymentsConnector_Helper_Settings</class>
            </settings_xpc>
            <api_xpc>
                <class>Cdev_XPaymentsConnector_Helper_Api</class>
            </api_xpc>
            <address_xpc>
                <class>Cdev_XPaymentsConnector_Helper_Address</class>
            </address_xpc>
            <cart_xpc>
                <class>Cdev_XPaymentsConnector_Helper_Cart</class>
            </cart_xpc>
        </helpers>
        <resources>
            <xpaymentsconnector_setup>
                <setup>
                    <module>Cdev_XPaymentsConnector</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xpaymentsconnector_setup>
            <xpaymentsconnector_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </xpaymentsconnector_write>
            <xpaymentsconnector_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </xpaymentsconnector_read>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <xp_card_data>
                    <to_order>*</to_order>
                </xp_card_data>
            </sales_convert_quote>
        </fieldsets>
        <blocks>
            <xpaymentsconnector>
                <class>Cdev_XPaymentsConnector_Block</class>
            </xpaymentsconnector>
            <checkout>
                <rewrite>
                    <onepage_success>Cdev_XPaymentsConnector_Block_Checkout_Onepage_Success</onepage_success>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Cdev_XPaymentsConnector_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>

            <!-- Cancel payment in X-Payments -->
            <sales_order_payment_cancel_invoice>
                <observers>
                    <xpaymentsconnector ifconfig="xpaymentsconnector/settings/xpay_is_configured">
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>invoiceVoid</method>
                    </xpaymentsconnector>
                </observers>
            </sales_order_payment_cancel_invoice>

            <!-- Capture payment in X-Payments -->
            <sales_order_invoice_save_before>
                <observers>
                    <xpaymentsconnector ifconfig="xpaymentsconnector/settings/xpay_is_configured">
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>orderInvoiceSaveBefore</method>
                    </xpaymentsconnector>
                </observers>
            </sales_order_invoice_save_before>

            <!--set discount for recurring product(for ajax cart item quantity update). Remove X-Payments token -->
            <checkout_cart_update_items_after>
                <observers>
                    <xpaymentsconnector ifconfig="xpaymentsconnector/settings/xpay_is_configured">
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>updateCartItem</method>
                    </xpaymentsconnector>
                </observers>
            </checkout_cart_update_items_after>

            <!-- Delete associated quote XPC data -->
            <sales_order_delete_before>
                <observers>
                    <xpaymentsconnector ifconfig="xpaymentsconnector/settings/active">
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>orderDeleteBefore</method>
                    </xpaymentsconnector>
                </observers>
            </sales_order_delete_before>

            <!-- Delete associated quote XPC data -->
            <sales_quote_delete_before>
                <observers>
                    <xpaymentsconnector ifconfig="xpaymentsconnector/settings/active">
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>quoteDeleteBefore</method>
                    </xpaymentsconnector>
                </observers>
            </sales_quote_delete_before>

        </events>
        <sales>
            <quote>
                <nominal_totals>
                    <recurring_discount>
                        <class>xpaymentsconnector/quote_address_total_nominal_recurring_discount</class>
                        <sort_order>10</sort_order>
                    </recurring_discount>
                    <recurring_initialfee_tax>
                        <class>xpaymentsconnector/quote_address_total_nominal_recurring_initialfee_tax</class>
                        <sort_order>11</sort_order>
                    </recurring_initialfee_tax>
                </nominal_totals>
            </quote>
        </sales>
    </global>
    <frontend>
        <routers>
            <xpaymentsconnector>
                <use>standard</use>
                <args>
                    <module>Cdev_XPaymentsConnector</module>
                    <frontName>xpaymentsconnector</frontName>
                </args>
            </xpaymentsconnector>
        </routers>
        <events>
        </events>
        <translate>
            <modules>
                <Cdev_XPaymentsConnector>
                    <files>
                        <default>Cdev_XPaymentsConnector.csv</default>
                    </files>
                </Cdev_XPaymentsConnector>
            </modules>
        </translate>
        <layout>
            <updates>
                <xpaymentsconnector>
                    <file>xpaymentsconnector.xml</file>
                </xpaymentsconnector>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <xpaymentsconnector>
                <use>admin</use>
                <args>
                    <module>Cdev_XPaymentsConnector</module>
                    <frontName>xpaymentsconnector</frontName>
                </args>
            </xpaymentsconnector>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <xpaymentsconnector>
                    <file>xpaymentsconnector.xml</file>
                </xpaymentsconnector>
            </updates>
        </layout>
        <translate>
            <modules>
                <Cdev_XPaymentsConnector>
                    <files>
                        <default>Cdev_XPaymentsConnector.csv</default>
                    </files>
                </Cdev_XPaymentsConnector>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>        
            <xpayments1>
                <active>0</active>
                <model>xpaymentsconnector/payment_cc1</model>
                <order_status>1</order_status>
                <allowspecific>0</allowspecific>
                <title>Credit Card (X-Payments)</title>
            </xpayments1>
            <xpayments2>
                <active>0</active>
                <model>xpaymentsconnector/payment_cc2</model>
                <order_status>1</order_status>
                <allowspecific>0</allowspecific>
                <title>Credit Card (X-Payments)</title>
            </xpayments2>
            <xpayments3>
                <active>0</active>
                <model>xpaymentsconnector/payment_cc3</model>
                <order_status>1</order_status>
                <allowspecific>0</allowspecific>
                <title>Credit Card (X-Payments)</title>
            </xpayments3>
            <savedcards>
                <active>0</active>
                <model>xpaymentsconnector/payment_savedcards</model>
                <order_status>1</order_status>
                <allowspecific>0</allowspecific>
                <title>Use saved payment cards (X-Payments)</title>
            </savedcards>
        </payment>
        <xpaymentsconnector>
            <settings>
                <activationstatus>0</activationstatus>
                <xpay_api_version>1.7</xpay_api_version>
                <xpay_use_iframe>1</xpay_use_iframe>
                <xpay_iframe_place>payment</xpay_iframe_place>
                <xpay_zero_auth_amount>1.0</xpay_zero_auth_amount>
                <xpay_zero_auth_description>Card setup</xpay_zero_auth_description>
            </settings>
        </xpaymentsconnector>
    </default>
   <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <xpaymentsconnector before="Mage_Adminhtml">Cdev_XPaymentsConnector_Adminhtml</xpaymentsconnector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <crontab>
        <jobs>
            <create_order_by_subscription>
                <schedule>
                    <cron_expr>0 */1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>xpaymentsconnector/observer::createOrdersByCustomerSubscriptions</model>
                </run>
            </create_order_by_subscription>
        </jobs>
    </crontab>

</config>
